<div id = "comments-list">
    {{#commentDtos}}
        <div class="card m-2" id="comments-{{id}}">
            <div class="card-header">
                {{nickname}}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comment-edit-modal">수정</button>
                <!-- Modal -->
                <div class="modal fade" id="comment-edit-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="staticBackdropLabel">댓글 수정</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label class="form-label">닉네임</label>
                                        <input type="text" class="form-control" id="edit-comment-nickname">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">댓글 내용</label>
                                        <textarea type="text" class="form-control" rows="3" id="edit-comment-body"></textarea>
                                    </div>
                                    <div class="mb-3 form-check">
                                        {{#article}}
                                            <input type="hidden" id="edit-comment-article-id">
                                            <input type="hidden" id="edit-comment-id">
                                        {{/article}}
                                    </div>
                                    <button type="button" class="btn btn-primary" id="comment-update-btn">수정 완료</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>